datasets/
*.wav
.venv/
node_modules/
www/
__pycache__/
*.pyc
*.pyc.*
backend/__pycache__/
android/.gradle/
android/app/build/
local.properties
.idea/
.vscode/
.env
.env.*
start_backend.ps1
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.metadata
flutter_app/.idea/
